<h1>What are you going to code?</h1>

<form action="/build-sessions/new" method="POST">
    <h2>Title:<input type="text"name="name"></h2>
    <h2>Description:<input type="text"name="description"></h2>
    <h2>Reward for Completion:<input type="text"name="reward"></h2>
    <h2>Expected Pomodoro Rounds:<input type="integer"name="expected_pomo_periods"></h2>
    <input type="submit" >

</form>