<h1>You're Done with <%=@build_session.name%></h1>
<br>
<h1>Awesome! Now do your thing: </h1> <%=@build_session.reward%>

<form action="/build-sessions" method="GET">
<input type="submit" value="Back To Your Builds" >
</form>

