<html>
<h1>Sign In To Start Cranking Code </h1>
<form action="/login" method="POST">
    <h2>Email<input name="email" ></h2>
    <h2>password<input name="password"><h2>
    <input type="submit" value="Login">
</form>

</html>